@import 'config.scss';
.dashboard-menu{
  margin: .5rem 0rem;
  background: $primary-color;
  padding: 1.5rem 0rem;
}
.dashboard-menu-icon{
  padding: .5rem .7rem;
  cursor: pointer;
  color: $light-color;
}
.context-box{
  margin: 1.5rem auto;
  display: block;
}
.bgHome{
  background-color: #f9f9f9;
  background-image: url(../img/ft-choir.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.buttons{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  max-height: 100%;
  text-align: center;
  background-color: #f1f1f1;
  opacity: .7;
}
.container90{
  display: block;
  width: 95%;
  margin: auto;
}
// Navbar
.navbar{
  display: block;
  line-height: 2.75rem;
  .logo{
    float: left;
    .logo-name, .logo-icon{
      display: inline;
    }
    .logo-icon{
      width: 30px;
      background-color: transparent;
      margin-right: 1.25rem;
    }
    .logo-name{
      font-size: 1.75rem;
      font-weight: bolder;
      text-decoration: none;
    }
  }
  #menu-toggler-control{
    display: none;
  }
  .menu-toggler{
    display: none;
  }
  .navlinks{
    float: right;
    .navlink-item{
      display: inline;
      margin: .25rem .75rem;
      &:hover{
        opacity: .75;
      }
      .fa{
        margin-right: .75rem;
      }
    }
  }
}
.text-info{
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
}
// Modal
.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0rem;
  top: 0rem;
  overflow: scroll;
  background-color: #444;
  &.visible{
    display: block;
  }

  .modal-container{
    padding: 1rem;
    display: block;
    margin: auto;
    width: 80%;
    background-color: #f1f1f1;
    .modal-close{
      float: right;
      background-color: $dark-color;
      color: $light-color;
      padding: .5rem;
      border-radius: 0.3rem;
      
      font-weight: bolder;
    }
    
   
    .modal-header{
      width: 100%;
      display: block;
      padding: 1.2rem 0rem;
    }
    .modal-body{
      background-color: transparent;
      text-align: left;
    }
    .modal-footer{
      width: 100%;
      padding: 1rem .5rem;
      .modal-btn-left{
        float: left;
      }
      .modal-btn-right{
        float: right;
      }
    }
  }
}

.auth-sidebar-logo{
  width: 38px;  
  background-color: transparent;
  border-radius: 24%;
  vertical-align: bottom;
}
#sidebar-controller{
  display: none;
}
#sidebar-controller:checked ~ .sidebar{
  left: 0rem;
}
#sidebar-controller:checked ~ .dashboard-main{
  margin-left: $sidebar-width;
}
.sidebar-menu-toggler{
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  color: $light-color;
}
.sidebar{
  position: fixed;
  display: block;
  width: $sidebar-width;
  height: 100%;
  left: $minus-sidebar-width;
  background-color: darkblue;
  color: $light-color;
  transition: left .5s ease-in-out;
  .sidebar-close{
    position: absolute;
    color: white;
    top: 0rem;
    right: 0rem;
    z-index: 1;
    background-color: black;
    padding: .5rem;
    font-weight: 900;
  }
  .header{
    width: 100%;
    line-height: 2rem;
    text-align: center;
    padding: 1.5rem 0rem;
    font-size: 1.4rem;
    font-weight: bolder;
    opacity: .7;
    background-color: darkslateblue;
  }
  .sidebar-links{
    // padding-top: 1.5rem;
    .sidebar-linkitem{
      user-select: none;
      margin: auto;
      text-align: left;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid darkslateblue;
      border-top: 1px solid darkblue;
      color: $light-color;
      a{
        color: $light-color;
        font-size: 1.2rem;
        font-weight: bolder;
        text-decoration: none;
        .fa{
          margin-right: 1rem;
        }
      }    
    }
  }
}

.dashboard-main{
  margin-left: 0rem;
  transition: margin .5s ease-in-out;
  .dashboard-navbar{
    line-height: 5rem;
    background-color: darkslateblue;
    color: #f1f1f1;
    padding-left: 5rem;
    .dashboard-navbar-links{
      a{
        color: $light-color;
        margin-right: .75rem;
        cursor: pointer;
      }
    }
  }
}

.section{
  padding: 1rem 0rem;
  text-align: left;
  border-bottom: 1px solid darkslateblue;
  border-radius: .5rem;
  .section-header{
    text-align: left;
    padding: 1rem .5rem;
    color: #f1f1f1;
    background-color: darkslateblue;
    font-weight: bolder;
  }
}
.dashboard-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1rem;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 1.25rem 1rem;
  .data-field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    // background-color: #eee;
    .data-key{
      font-weight: bolder;
      margin-right: 2.75rem;
    }
  }
}

.profile-image{
  width: 12rem;
  height: 12rem;
  margin: .75rem auto;
  text-align: center;
  display: block;
  border: 2px solid #333;
  border-radius: 50%;
  box-shadow: 0 2px 3px #ddd;
}
@import 'mobile.scss';